.line {
  border-top: 1px;
  border-style: solid;
}

.box {
  border: @box-border-thickness solid;
  word-wrap: break-word;
}

.avatar {
  margin-top: 5px;
}

.user-box {
  .inline-block;
  margin-top: 30px;
  width: 512px;
}

.demo-stars {
  .user {
    .user-box;
    margin-top: 5px;
    margin-left: 5px;
    width: 256px;
  }
}
