name: Dart Checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        # Test with at least the declared minimum Dart version
        sdk: ['3.5', stable]
    steps:
      - uses: actions/checkout@v6
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}

      - name: Install dependencies
        run: dart pub get
      - name: Dart Analyzer
        run: dart analyze
      - name: Check Dart Format
        if: ${{ matrix.sdk == 'stable' }}
        run: dart format --set-exit-if-changed -onone .
      - name: Unit tests
        run: dart test
      - name: Check if Publishable
        run: dart pub publish --dry-run
